*~
*.pyc
*.vcd
*.log
*.jou
make
modelsim_lib
quartus/modules/altclkctrl
quartus/modules/hps
quartus/modules/regenerate_date
*.sopcinfo
quartus_output
sram_contents
quartus/projects/*/db
quartus/projects/*/incremental_db
quartus/projects/*/*/db
quartus/projects/*/*/incremental_db
